</div>
<footer>
    <div class="container-fluid" id = "main_footer">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="footer_logo">OldFreeletics</div>
            </div>
            <div class="col-md-4 col-sm-hidden">

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="socials">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/scripts/scripts.js"></script>
<script src="/scripts/sidebar-widget/app.js"></script>
<script src="/scripts/sidebar-widget/fix-sidebar.js"></script>
</body>
</html>