<% include partials/header%>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
       <h2>Landing page</h2>
                <a href="/new">New workout</a>
            </div>
        </div>
    </div>
<% include partials/footer%>