<% include partials/header%>
<div class="jambotron">

    <div class="landing-photo-container"
         style="background-image: url(/img/photo1.jpg)">
    </div>


</div>
<div class="container">
    <div class="row landing-content">

            <div class="col-md-4">
                <a href="/strength" class="mask-link">
                    <div class="mask"> <span  class="mask-button">START</span></div>
                <div class="guide-card" style="background-image: url(/img/strength.jpg)">

                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/cardio" class="mask-link">
                    <div class="mask"> <span  class="mask-button">START</span></div>
                    <div class="guide-card" style="background-image: url(/img/cardio.jpg)"></div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/cardioandstrength" class="mask-link">
                    <div class="mask"> <span  class="mask-button">START</span></div>
                    <div class="guide-card" style="background-image: url(/img/cands.jpg)"></div>
                </a>
            </div>

    </div>
</div>
<% include partials/footer%>