
<form action="/new" method="post">

   Round  <input type="text" name="rounds"><br>
    exercice qntty   <input type="text" name="exercise">
    <button>OK</button>
    <!--workout name <input type="text" name="workout-name"><br>-->
    <!--<hr>-->
    <!--Exercise name        <input type="text" name="week"><br>-->
    <!--<hr>-->



</form>