

.wrapper{
    padding-top: 70px;
}
.brownBackground {
    background-color: #101211;
    color: #fff;
}

.fixed{
    position : fixed;
    width:200px

}

.relative{
    position: relative;
    width:200px
}
/*.fixed:after{*/
   /*display: table;*/
    /*clear: both;*/
/*}*/
.id {
    height:70px;
    visibility: hidden;
}

.list-group{
    margin-top:70px;
    font-size: 1.4rem;
}

.list-group a {
    text-decoration: none;
}

.list-group li:hover {
    color: black;
    background: #d9edf7;
}

.panel, table {
    font-size: 1.2em;
}

.margin_top_20 {
    margin-top: 20px;
    font-weight: bold;
}

footer{
    background-color: #101211;
    height: 5vh;
    margin-top: 100px;
}

.overflow{
    overflow-y: scroll;
}