
html,
body{
 height: 100%;
}
.wrapper{
    padding-top: 70px;

}


.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}
footer {
    height: 80px;
    margin-top: -80px;
    background-color: #101211;
}

.brownBackground {
    background-color: #101211;
    color: #fff;
}

.fixed{
    position : fixed;
    width:200px

}

.relative{
    position: relative;
    width:200px
}

.id {
    height:70px;
    visibility: hidden;
}

.list-group{
    margin-top:70px;
    font-size: 1.4rem;
}

.list-group a {
    text-decoration: none;
}

.list-group li:hover {
    color: black;
    background: #d9edf7;
}

.panel, table {
    font-size: 1.2em;
}

.margin_top_20 {
    margin-top: 20px;
    font-weight: bold;
}

/*footer{*/
    /**/
    /*height: 5vh;*/
    /*margin-top: 100px;*/
/*}*/

.overflow{
    overflow-y: scroll;
}